<table>
  <tr>
    <th>Title</th><th>Description</th><th>Author</th><th>Actions</th>
  </tr>
    <% obj.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td> 
      <td><%= article.user.username if article.user %></td> 
      <td><%= link_to 'Show Article', article_path(article) %> 
      <% if logged_in? && current_user == article.user %>
        <%= link_to 'Edit Article', edit_article_path(article) %>
        <%= link_to 'Delete Article', article_path(article), method: :delete, data: {confirm: "Are you suuuuuure?" }  %>
        <% end %>
      </td>
    </tr>
  <% end %>
  
</table>
